<div class="row-fluid">
	<div class="span7"><h1>Breaks of <span ng-bind="root.selectedUser"></span></h1>
	</div>
	<div class="span5">
		<select ng-model="root.selectedUser" ng-options="user for user in users"> 
		</select>
	</div>
</div>
<div class="numberOfMatches">{{numberBreaks}} breaks</div>
<div class="row-fluid">
	<div class="span3">
		<ol>
			<li ng-repeat="i in topMaxBreaks" ng-class="{top3: $index<3}">
			{{topMaxBreaks[$index].topBreak}} ({{topMaxBreaks[$index].times}})
			</li>
		</ol>
	</div>	

	<div class="span9">
		<table class="table table-bordered">
			<tr class="success"><td>Average Max Break</td><td class="avgMaxBreak" ng-bind="avgMaxBreak"></td></tr>
			<tr><td>At least 30 points:</td><td> <span ng-bind="maxBreakPercentagePerLevel.30.percentage | percentage"/> (<span ng-bind="maxBreakPercentagePerLevel.30.total" />)</td></tr>
				<tr><td>At least 50 points:</td><td> <span ng-bind="maxBreakPercentagePerLevel.50.percentage | percentage"/> (<span ng-bind="maxBreakPercentagePerLevel.50.total" />)</td></tr>
					<tr><td>At least 75 points:</td><td> <span ng-bind="maxBreakPercentagePerLevel.75.percentage | percentage"/> (<span ng-bind="maxBreakPercentagePerLevel.75.total" />)</td></tr>
						<tr><td>At least 100 points:</td><td> <span ng-bind="maxBreakPercentagePerLevel.100.percentage | percentage"/> (<span ng-bind="maxBreakPercentagePerLevel.100.total" />)</td></tr>
						</table>

						<h2>Last 100 Matches</h2>

						<table class="table table-bordered">
			<tr class="success"><td>Average Max Break</td><td class="avgMaxBreak" ng-bind="avgMaxBreakRecent"></td></tr>
			<tr><td>At least 30 points:</td><td> <span ng-bind="maxBreakPercentagePerLevel100.30.percentage | percentage"/> (<span ng-bind="maxBreakPercentagePerLevel100.30.total" />)</td></tr>
				<tr><td>At least 50 points:</td><td> <span ng-bind="maxBreakPercentagePerLevel100.50.percentage | percentage"/> (<span ng-bind="maxBreakPercentagePerLevel100.50.total" />)</td></tr>
					<tr><td>At least 75 points:</td><td> <span ng-bind="maxBreakPercentagePerLevel100.75.percentage | percentage"/> (<span ng-bind="maxBreakPercentagePerLevel100.75.total" />)</td></tr>
						<tr><td>At least 100 points:</td><td> <span ng-bind="maxBreakPercentagePerLevel100.100.percentage | percentage"/> (<span ng-bind="maxBreakPercentagePerLevel100.100.total" />)</td></tr>
						</table>
					</div>

				</div>



