<div class="row-fluid">
	<div class="span5">
		<h1>Head to Head</h1>
	</div>
	<div class="span7">
		<select ng-model="player1" ng-options="user for user in users"> 
		</select>
		<select ng-model="player2" ng-options="opponent for opponent in opponents"> 
		</select>
	</div>
</div>

<div class="numberOfMatches">{{results[player1].total + results[player2].total}} matches played</div>

<table class="table table-bordered">
	<thead>
		<th></th>
		<th class="{{classPlayer1}}" ng-bind="player1"></th>
		<th class="{{classPlayer2}}" ng-bind="player2"></th>
	</thead>
	<tbody>
		<tr>
			<td class="headCaption">Ranking Change</td>
			<td class="{{classPlayer1}}" ng-bind="results[player1].difference"></td>
			<td class="{{classPlayer2}}" ng-bind="results[player2].difference"></td>
		</tr>
		<tr>
			<td class="headCaption">Wins Percentage</td>
		<td class="{{classPlayer1}}" ng-bind="results[player1].percent | percentage"></td>
		<td class="{{classPlayer2}}" ng-bind="results[player2].percent | percentage"></td>
		</tr>
		<tr>
		<td class="headCaption">Wins Total</td>
		<td class="{{classPlayer1}}" ng-bind="results[player1].total"></td>
		<td class="{{classPlayer2}}" ng-bind="results[player2].total"></td>
		</tr>
	</tbody>
</table>
