<h1>Latest matches</h1>
<div ng-repeat="day in [1, 2, 3]">
	<h3 ng-bind="dateToString(matchesByDayIndex[day][0].date)" />
		<div ng-repeat="match in matchesByDayIndex[day]" class="matchLine">
			{{formatDate(match.date)}}: 
			<span class="matchWinner"> {{match.winner | shortenName}}</span> ({{MatchDisplay.getBreakWinner(match)}}) beats 
			{{MatchDisplay.getLoser(match) | shortenName}} ({{MatchDisplay.getBreakLoser(match)}})
		</div>
	</div>
