<div class="row-fluid"><div class="span7"><h1>Matches of <span ng-bind="root.selectedUser"></span></h1></div>
	<div class="span5">
		<select ng-model="root.selectedUser" ng-options="user for user in users"> 
		</select>
	</div>
</div>
<div class="numberOfMatches">{{allMatches.length}} Matches played</div>
<div ng-repeat="match in matches" class="matchLine">
	{{formatDate(match.date)}}: 
	<span class="matchWinner"> {{match.winner | shortenName}}</span> ({{MatchDisplay.getBreakWinner(match)}}) beats 
	{{MatchDisplay.getLoser(match) | shortenName}}({{MatchDisplay.getBreakLoser(match)}})
</div>
<div class="pagination">
	<ul>
		<li ng-class="{disabled: disablePrevious}"><a ng-click="showPage(activePage-1)" href="">«</a></li>
		<li ng-class="{active: i == activePage}" ng-repeat="i in pagesToShow">
		<a ng-click="showPage(i)">{{Helpers.padNumber(i)}}</a>
		</li>
		<li ng-class="{disabled: disableNext}"><a ng-click="showPage(activePage+1)" href="">»</a></li>
	</ul>
</div>



