<div class="row-fluid">
	<div class="span7"><h1>Ranking of <span ng-bind="root.selectedUser"></span></h1>
	</div>
	<div class="span5">
		<select ng-model="root.selectedUser" ng-options="user for user in users"> 
		</select>
	</div>
</div>
<table class="table table-bordered rankingTable">
	<tr>
	  <td>Current Ranking</td>
	  <td ng-bind="currentRanking"></td>
	</tr>
  <tr>
    <td>Min Ranking</td>
    <td ng-bind="minRanking"></td>
  </tr>
  <tr>
    <td>Max Ranking</td>
    <td ng-bind="maxRanking"></td>
  </tr>
</table>
<div id="rankingContainer" style="height: 400px"></div>
