body { 
	padding: 15px;
}

.matchWinner, .avgMaxBreak, .headCaption {
	font-weight: bold;
}

.top3 {
	font-weight: bold;
	font-size: 16px;
}

.blockUI .alert {
	margin-bottom: 0;
}

.numberOfMatches {
	margin: 10px 0;
}

.rankingTable { 
	margin-top: 20px;
}

.rankingTable tr td:first-child {
	font-weight: bold;
}

.loser {
	background-color: #F2DEDE;
}

.winner {
	background-color: #DFF0D8;
}
