.latest-matches-dates {
	margin: 10px 10px;
	font-size: 16px;
	font-weight: bold;
}


.mainMenu {
	float: left;
	width: 100%;
	background: #EDF7E7;
	font-size: 13px;
	line-height: normal;
}

.mainMenu ul {
	margin: 0;
	padding: 10px 10px 0 50px;
	list-style: none;
}

.mainMenu li {
	display: inline;
	margin: 0;
	padding: 0;
}

@sprite .mainMenu a {
	gwt-image: "tabLeft";
}

.mainMenu a {
	float: left;
	background-position:left top;
	margin: 0;
	padding: 0 0 0 4px;
	text-decoration: none;
	width:auto;
	height:auto;
}

@sprite .mainMenu a span {
	gwt-image: "tabRight";
}

.mainMenu a span {
	float: left;
	display: block;
	background-position: right top;
	padding: 5px 15px 4px 6px;
	color: #464E42;
	width:auto;
	height:auto;
}

.mainMenu .menuLinkActive span {
	font-weight:bold;	
}

.mainMenu a {
	position:relative;
	\-webkit-transition: top .2s ease;
	\-moz-transition: top .2s ease;
	\-o-transition: top .2s ease;
	transition:top .2s ease;	
	top:0;
}

.mainMenu .menuLinkActive {
	top:2px;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
.mainMenu a span {
	float: none;
}
/* End IE5-Mac hack */
.mainMenu a:hover span {
	color: #FFF;
}

.mainMenu a:hover {
	background-position: 0% -42px;
}

.mainMenu a:hover span {
	background-position: 100% -42px;
}

.breakLine, .breakLineAreas {
	font-size:16px;
	line-height:25px;
}

.breakLine {
	width:100px;
	margin-left:20px;
}

.breakLineAreas {
	width: 400px;
}

.bold {
	font-weight:bold;
}